extends ../layouts/adminCommon
block content
    main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
        h2.mt-3.mb-3
            | Danh sách sản phẩm
        .table-responsive
            table.table.table-hover.table-sm
                tr(align='center')
                    th.align-middle STT
                    th.align-middle Tên sản phẩm
                    th.align-middle Danh mục
                    th.align-middle Giá
                    th.align-middle Khuyến mãi (%)
                    th.align-middle Nhà cung cấp
                    th.align-middle(style='width: 10%;') Nội dung
                    th.align-middle(style='width: 8%;') Hình ảnh
                    th.align-middle(style='width: 10%;') Hành động
                each product in products
                    tr.text-center
                        td.align-middle.pro-id= product.id
                        td.align-middle= product.name
                        if(product.category_id === 1)
                            td.align-middle Quần & áo
                        if(product.category_id === 2)
                            td.align-middle Balo & túi xách
                        if(product.category_id === 3)
                            td.align-middle Giày & dép
                        if(product.category_id === 4)
                            td.align-middle Phụ kiện & trang sức
                        td.align-middle= product.price
                        td.align-middle= product.sale
                        if(product.category_id === 1)
                            td.align-middle Mabư
                        if(product.category_id === 2)
                            td.align-middle Liloan
                        if(product.category_id === 3)
                            td.align-middle Nike
                        if(product.category_id === 4)
                            td.align-middle LV
                        if(product.category_id === 5)
                            td.align-middle Tiffany
                        td.align-middle= product.content
                        td.align-middle.row.justify-content-center
                            img.mini-img(src=product.image)
                        td.align-middle
                            button.btn.btn-info.mr-1.btnViewDetail Xem
                            button.btn.btn-danger.btnRemoveProduct Xóa

