html
    head
        meta(charset='utf-8')
        title
            | Sakura Shop - Nơi niềm vui bắt đầu
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        script(src='https://kit.fontawesome.com/14be88be6b.js', crossorigin='anonymous')
        base(href='/')
        link(rel='stylesheet', type='text/css', href='styles/main.css')
        style.
            .new-form-control {
                padding-left: 2.375rem;
                padding-right: 2.375rem;
            }

            #cart-count {
                font-family: Arial;
                font-size: 13px;
                background: deeppink;
                color: #fff;
                padding: 1px 2px 1px 2px;
                vertical-align: top;
            }

            a, a:hover {
                color: black;
                text-decoration: none;
            }

            .img-user {
                width: 30px;
                height: 30px;
            }
    header.container-fulid
        .container.d-flex.border-bottom.border-white.justify-content-between
            .row.justify-content-around
                .col-12.col-md-2.pt-2.pb-2
                    a(href='/')
                        img(src='/images/logo.jpg' alt='Sakura shop')
                .col-12.col-md-2.d-flex.align-items-center
                    .Special-Tiltle-Affect.p-2
                        span.header-title
                            strong SAKURA
            .d-flex.col-md-3.align-items-end.pb-3
                span
                    if user
                        img.round.img-user.mr-1(src=image alt='user img')
                        i.mr-3.fas.fa-sign-out-alt.text-white#logout
                span
                    if modal
                        a.text-white.mr-3(href='#' data-toggle=modal.dataToggle data-target=modal.dataTarget)
                            i.fa.fa-user.icon-size
                    else
                        a.text-white.mr-3(href='/user/info')
                            i.fa.fa-user.icon-size
                span
                    a.text-white.mr-3(href='/user/interested')
                        i.fa.fa-heart.icon-size
                span
                    if modal
                        a.text-white.mr-3(href='#' data-toggle=modal.dataToggle data-target=modal.dataTarget)
                            i.fa.fa-shopping-cart.icon-size
                    else
                        a.text-white.mr-3(href='/user/cart')
                            i.fas.fa-shopping-cart.icon-size
                                if cart
                                    sup.badge.badge-pill(id='cart-count')= cart.length
                                else
                                    sup.badge.badge-pill(id='cart-count') 0

    body
        nav.container-fulid.E-background-color
            ul.d-none.d-md-flex.justify-content-center.m-0.Menu
                li.font-weight-bold
                    a.link(href='/') Trang chủ
                li.Menu-Opt.font-weight-bold
                    | Của hàng
                    i.fas.fa-sort-down.ml-1
                    ul.Sup-Menu-Opt
                        li.Menu-Opt-Width
                            a(href='/product/clothes') Quần & áo
                        li
                            a(href='/product/shoe') Giày & dép
                        li
                            a(href='/product/accessories') Trang sức & phụ kiện
                        li
                            a(href='/product/backpack') Balo & túi xách
                li.font-weight-bold
                    a(href='/transport') Vận chuyển
                li.font-weight-bold
                    a(href='/about') Về chúng tôi
            .d-flex.d-md-none.flex-column.justify-content-center
                .Nav-Mobile
                    span.Pointer Menu Day
                    .Menu-Mobile
                        ul.Menu.d-flex.flex-column
                            li.Menu-Opt
                                | Trang chủ
                                ul.Sup-Menu-Mobile
                                    li
                                        .Menu-Opt-Width Về chúng tôi
                                    li Bộ sưu tập
                                    li
                                        a(href='/transport') Vận chuyển
                            li.Menu-Opt
                                | Cửa hàng
                                ul.Sup-Menu-Mobile
                                    li
                                        .Menu-Opt-Width Quần áo
                                    li Giày dép
                                    li Trang sức, phụ kiện
                                    li Balo, túi xách
                            li
                                a(href='/transport') Vận chuyển
                            li
                                a(href='/about') Về chúng tôi
                            li
                                a(href='/user/cart') Giỏ hàng
        .container
            #myModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title Đăng nhập
                            button.btn.btn-primary.float-right#signup(data-toggle='modal' data-target='#mySignUpModal') Đăng kí
                        form#myformlogin(method='POST')
                            .modal-body
                                p.h6#error
                                .form-group
                                    input.form-control#username(type='text', name='username', placeholder='Tài khoản', required='required')
                                    input.form-control.mt-2#password(type='password', name='password', placeholder='Mật khẩu', required='required')
                            .modal-footer
                                button.btn.btn-primary.float-right#btnLogin(type='submit') Đăng nhập
                                button.btn.btn-light(type='button', data-dismiss='modal') Close
        .container
            #mySignUpModal.modal.fade
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title Đăng kí
                        form#myformsignup
                            .modal-body
                                .form-group
                                    input.form-control#newusername(type='text', placeholder='Tài khoản', required='required')
                                    input.form-control.mt-2#newpassword(type='password', placeholder='Mật khẩu', required='required')
                                    input.form-control.mt-2.mb-2#newname(type='text' placeholder='Tên người dùng' required='required' maxlength='64')
                                    input#newmaleSex(type='radio' name='newGender' value='male' checked=true)
                                    span.ml-1 Nam
                                    input.ml-5#newfemaleSex(type='radio' name='newGender' value='female')
                                    span.ml-1 Nữ
                                    input.ml-5#newotherSex(type='radio' name='newGender' value='other')
                                    span.ml-1 Khác
                                    input.form-control.mt-2#newdob(type='date' placeholder='Ngày sinh' name='newBirthday' max='2001-12-31'
                                        min='1980-01-01')
                                    input.form-control.mt-2#newaddress(type='text' placeholder='Địa chỉ' required='required' maxlength='255')
                                    input.form-control.mt-2#newemail(type='text' placeholder='Email' required='required' maxlength='100')
                                    input.numberic.form-control.mt-2#newphone(type='text' placeholder='Số điện thoại' required='required' maxlength='10')
                            .modal-footer
                                button.btn.btn-primary.float-right#btnSignUp(type='submit') Đăng kí
                                button.btn.btn-light(type='button', data-dismiss='modal') Close
        block content
    footer
        .d-flex.justify-content-center.pt-5.border-bottom.border
            .container.row
                .col-md-3
                    p.footer-theme Nhãn hàng
                    figure
                        img(src='/images/logo.jpg')
                .col-md-3.d-flex.flex-column
                    p.footer-theme Về chúng tôi
                    a.mb-3(href='#') Chăm sóc khách hàng
                    a.mb-3(href='#') Vận chuyển sản phẩm
                    a.mb-3(href='#') Quyền lợi khách hàng
                .col-md-3
                    p.footer-theme Theo dõi chúng tôi trên
                    .mb-3.d-flex
                        .mr-3
                            i.fab.fa-facebook
                        div
                            a(href='#') Facebook
                    .mb-3.d-flex
                        .mr-3
                            i.fab.fa-instagram
                        div
                            a(href='#') Instagram
                    .mb-3.d-flex
                        .mr-3
                            i.fab.fa-twitter-square
                        div
                            a(href='#') Twitter
                .col-md-3
                    p.footer-theme Thông tin liên lạc
                    p
                        span
                            i.fas.fa-thumbtack
                        |  KTX Khu B DHQG, Dĩ An, Bình Dương, Việt Nam
                    p
                        span
                            i.fas.fa-phone-volume
                        | +(84) 915330370
                    p
                        span
                            i.fas.fa-envelope
                        |  tranhiepnguyenhuy@gmail.com
    script(type='text/javascript').
        var n = 0;
        function showSlide() {
            var slides = document.getElementsByClassName("SlideShow");
            var length = (slides.length);
            if (n === length)
                n = 0;
            showBtnSlide(n);
            n++;
            setTimeout(showSlide, 4000);
        }
        setTimeout(showSlide, 0);
        function showBtnSlide(a) {
            var slides = document.getElementsByClassName("SlideShow");
            var length = (slides.length);
            for (var i = 0; i < length; i++) {
                if (i === a) {
                    slides[i].style.display = "block";
                } else
                    slides[i].style.display = "none";
            }
            n = a;
        }
    script(src='https://code.jquery.com/jquery-3.4.1.min.js',crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    script(src='scripts/main.js')