extends ../layouts/common
block content
    .mb-5
        h1.pl-5 Thông tin  giỏ hàng
    .mb-3
        .container
            .col-12.bg-white
                if(products && cart)
                    table.table.table-hover.text-center(align='center')
                        tr
                            th Hình ảnh
                            th Tên sản phẩm
                            th Màu
                            th Size
                            th Đơn giá
                            th Số lượng
                            th Giảm giá
                            th Thành tiền
                            th Thao tác
                        each item in cart
                            each product in products
                                if(item.product_id === product.id)
                                    tr
                                        td.align-middle.row.justify-content-center.align-middle
                                            .Info-Product-Image
                                                img.Info-Product-Image-Sc(src=item.image)
                                        td.align-middle.name-pro= product.name
                                        td.align-middle= item.color
                                        td.align-middle= item.size
                                        td.align-middle.price-pro= product.price
                                        td.align-middle.item-has(style='display:none;')= item.total - item.buyed
                                        td.align-middle
                                            button.sub -
                                            input.text-center.quantity-pro(id=`${item.id}` type='Text', name='', value='1', size='1px')
                                            button.add +
                                        td.align-middle.sale-pro= product.sale + '%'
                                        td.align-middle.total-money= product.price - product.price * product.sale / 100
                                        td.align-middle
                                            button.btn.btn-primary.btnRemove Xóa
                else
                    h1
                        center Bạn chưa thêm sản phẩm nào vào giỏ

    .container
        .row.align-items-center.justify-content-center
            .col-sm-5
                h3 Tổng hóa đơn
            .col-sm-6
                .d-flex.mb-2
                    .Info-Item Tổng tiền hàng
                    if(products && cart)
                        - let total = 0
                        each product in products
                            each item in cart
                                if(item.product_id === product.id)
                                    - total += product.price - product.price * product.sale / 100
                        div#total= total + '₫'
                    else
                        div 0₫
                .d-flex.mb-2
                    .Info-Item Phí vận chuyển
                    div 20000₫
                .d-flex.mt-4.Total-Cart.mb-3.border-top
                    .Info-Item Tổng
                    if(products && cart)
                        - let total = 0
                        each product in products
                            each item in cart
                                if(item.product_id === product.id)
                                    - total += product.price - product.price * product.sale / 100
                        div#totalFinal= total + 20000 + '₫'
                    else
                        div 0₫
                div
                    button#btnBuy.btn.btn-primary.w-100.mb-5 MUA HÀNG