extends ../layouts/common
block content
    .mb-5
        h1.pl-5 Thông tin  giỏ hàng
    .mb-3
        .container
            .col-12.bg-white
                table.table.table-hover.text-center(align='center')
                    tr
                        th Hình ảnh
                        th Tên sản phẩm
                        th Màu
                        th Size
                        th Đơn giá
                        th Số lượng
                        th Giảm giá
                        th Thành tiền
                        th Thao tác
                    if(products && cart)
                        each product in products
                            each item in cart
                                tr
                                    td.align-middle.row.justify-content-center.align-middle
                                        .Info-Product-Image
                                            img.Info-Product-Image-Sc(src=item.image)
                                    td.align-middle= product.name
                                    td.align-middle= item.color
                                    td.align-middle= item.size
                                    td.align-middle.price-pro= product.price
                                    td.align-middle.item-has(style='display:none;')= item.total - item.buyed
                                    td.align-middle
                                        button.sub -
                                        input.text-center.quantity-pro(id=`${item.id}` type='Text', name='', value='1', size='1px')
                                        button.add +
                                    td.align-middle.sale-pro= product.sale + '%'
                                    td.align-middle.total-money= product.price - product.price * product.sale / 100
                                    td.align-middle
                                        button.btn.btn-primary.btnRemove Xóa
    .container
        .row
            .col-12.col-md-7.bg-light.mt-4
                h3.mb-2.mt-2 Mã giảm giá/voucher
                .Sub-title.mb-2
                    i.text-color
                        | Những giả giá ưu đãi mà cửa hàng dành cho bạn bao gồm mã giảm giá sự kiện hoặc voucher dành cho khách hàng thân  thiết.
                input.form-control(type='texr', name='', placeholder='Nhập mã giảm giá tại đây...', size='70%')
                button.btn.btn-primary.mt-2(size='30%') Nhập
            .col-12.col-md-5.mt-4
                .d-flex.justify-content-end
                    div
                        .d-flex.mb-5.border-bottom.pb-1
                            i.fas.fa-money-check-alt.fa-3x.mr-5
                            h3 Tổng hóa đơn
                        .d-flex.mb-2
                            .Info-Item Tổng tiền hàng
                            div 9000000
                        .d-flex.mb-2
                            .Info-Item Phí vận chuyển
                            div 50000
                        .d-flex.mt-4.Total-Cart.mb-3.border-top
                            .Info-Item Tổng
                            div 8100000
                        div
                            button.btn.btn-primary.w-100.mb-5 MUA HÀNG
