extends ../layouts/common
block content
    .container.mb-5.mt-5
        h1 Thông tin tài khoản
        .row.mt-5
            .col-6.col-md-4
                .d-flex.flex-row.justify-content-center.mt-5.mb-3
                    .Customer-Image.bg-warning.Scale-Trans.Box-Shadow-Around
                        img.Info-Cus-Image-Sc(src='images/Do Nam 1.jpg')
                        .Change-CusImg-Btn-State
                            .Change-CusImg-Btn.bg-white.rounded-circle.d-flex.justify-content-center.align-items-center
                                button.rounded-circle.border-0
                                    i.fas.fa-camera
                h3.text-center Ảnh đại diện
                span.d-flex.justify-content-center
                    button.btn.btn-primary(data-Toggle='modal' data-Target='#mypassmodal')
                        | Đổi mật khẩu
            form.col-6.col-md-6.bg-dark.text-white.p-2(method='PUT')
                .d-flex.mb-3.ml-3
                    .Info-Item Tên
                    div
                        input.form-control(type='text' value=user.name style={ width: '360px' } required='required')
                .d-flex.mb-3.ml-3
                    .Info-Item Giới tính
                    div
                        - let isMale = user.sex === 'nam'
                        - let isFemale = user.sex === 'nữ'
                        - let isOther = user.sex === 'khác'

                        input(type='radio' name='gender' value='Male' checked=isMale)
                        span.ml-1 Nam
                        input.ml-5(type='radio' name='gender' value='Female' checked=isFemale)
                        span.ml-1 Nữ
                        input.ml-5(type='radio' name='gender' value='Other' checked=isOther)
                        span.ml-1 Khác
                .d-flex.mb-3.ml-3
                    .Info-Item Ngày sinh
                    div.form-group
                        input.form-control(type='date' name='birthday' max='2001-12-31'
                        min='1980-01-01' value=user.dob)
                .d-flex.mb-3.ml-3
                    .Info-Item Địa chỉ
                    div=user.address
                        button.btn.btn-link.ml-3 Sửa
                .d-flex.mb-3.ml-3
                    .Info-Item Email
                    div
                        input.form-control(type='text' value=user.email style={ width: '360px' } required='required')
                .d-flex.mb-3.ml-3
                    .Info-Item Số điện thoại
                    div
                        input.form-control(type='text' value=user.phone style={ width: '360px' } required='required')
                .d-flex.mb-3.ml-3
                    .Info-Item.mt-2 Tên tài khoản
                    div
                        input.form-control-plaintext.text-white(type='text' value=user.username style={ width: '360px' } readonly)
                .d-flex-mb-3.ml-3
                    button.btn.btn-primary.float-right.mr-4
                        | Lưu

    .container
        #myPassModal.modal.fade
            .modal-dialog
                .modal-content
                    form#myform(method='PUT')
                        .modal-header
                            h4.modal-title Đổi Mật Khẩu
                        .modal-body
                            p.h6#error
                            .form-group
                                input.form-control#oldpassword(type='password', name='oldPassword', placeholder='Mật khẩu cũ', required='required')
                                input.form-control.mt-2#newpassword(type='password', name='newPassword', placeholder='Mật khẩu mới', required='required')
                                input.form-control.mt-2#repassword(type='password', name='rePassword', placeholder='Nhập lại mật khẩu mới', required='required')
                        .modal-footer
                            button.btn.btn-primary.float-right#btnUpdate(type='submit') Cập nhật
                            button.btn.btn-light(type='button', data-dismiss='modal') Close