extends ../layouts/common
block content
    .container.mb-5.mt-5
        h1 Thông tin tài khoản
            span.ml-5
                a.h4.btn.btn-outline-success(href='/user/order') Đơn hàng
        .row.mt-5
            .col-6.col-md-4
                .d-flex.flex-row.justify-content-center.mt-5.mb-3
                    form#formUploadImg(method='POST' action='/user/avatar' enctype='multipart/form-data')
                        .Customer-Image.bg-dark.Scale-Trans.Box-Shadow-Around
                            img#avatar.Info-Cus-Image-Sc(src=image)
                            .Change-CusImg-Btn-State
                                .Change-CusImg-Btn.bg-white.rounded-circle.d-flex.justify-content-center.align-items-center
                                    input.file-upload.fas.fa-camera(type='file' name='avatar' style={ opacity: 0 })
                        button#upload.btn.btn-primary.mt-3.ml-5(type='submit') Lưu
                h3.text-center Ảnh đại diện
                span.d-flex.justify-content-center
                    button.btn.btn-primary(data-Toggle='modal' data-Target='#mypassmodal')
                        | Đổi mật khẩu
            form.col-6.col-md-6.bg-dark.text-white.p-2#formChangeInfo(method='PUT')
                .d-flex.mb-3.ml-3
                    .Info-Item Tên
                    div
                        input.form-control#name(type='text' value=user.name style={ width: '360px' } required='required' maxlength='64')
                .d-flex.mb-3.ml-3
                    .Info-Item Giới tính
                    div
                        - let isMale = user.sex === 'nam'
                        - let isFemale = user.sex === 'nữ'
                        - let isOther = user.sex === 'khác'

                        input#maleSex(type='radio' name='gender' value='male' checked=isMale)
                        span.ml-1 Nam
                        input.ml-5#femaleSex(type='radio' name='gender' value='female' checked=isFemale)
                        span.ml-1 Nữ
                        input.ml-5#otherSex(type='radio' name='gender' value='other' checked=isOther)
                        span.ml-1 Khác
                .d-flex.mb-3.ml-3
                    .Info-Item Ngày sinh
                    div.form-group
                        input.form-control#dob(type='date' name='birthday' max='2001-12-31'
                        min='1980-01-01' value=user.dob)
                .d-flex.mb-3.ml-3
                    .Info-Item Địa chỉ
                    div
                        input.form-control#address(type='text' value=user.address style={ width: '360px' } required='required' maxlength='255')
                .d-flex.mb-3.ml-3
                    .Info-Item Email
                    div
                        input.form-control#email(type='text' value=user.email style={ width: '360px' } required='required' maxlength='100')
                .d-flex.mb-3.ml-3
                    .Info-Item Số điện thoại
                    div
                        input.numberic.form-control#phone(type='text' value=user.phone style={ width: '360px' } required='required' maxlength='10')
                .d-flex.mb-3.ml-3
                    .Info-Item.mt-2 Tên tài khoản
                    div
                        input.form-control-plaintext.text-white(type='text' value=user.username style={ width: '360px' } readonly)
                .d-flex-mb-3.ml-3
                    button.btn.btn-primary.float-right.mr-4(type='submit')
                        | Lưu

    .container
        #myPassModal.modal.fade
            .modal-dialog
                .modal-content
                    form#myform(method='PUT')
                        .modal-header
                            h4.modal-title Đổi Mật Khẩu
                        .modal-body
                            p.h6#error
                            .form-group
                                input.form-control#oldpassword(type='password', name='oldPassword', placeholder='Mật khẩu cũ', required='required')
                                input.form-control.mt-2#newpassword(type='password', name='newPassword', placeholder='Mật khẩu mới', required='required')
                                input.form-control.mt-2#repassword(type='password', name='rePassword', placeholder='Nhập lại mật khẩu mới', required='required')
                        .modal-footer
                            button.btn.btn-primary.float-right#btnUpdate(type='submit') Cập nhật
                            button.btn.btn-light(type='button', data-dismiss='modal') Close
