extends ../layouts/common
block content
    .mb-5
        h1.pl-5 Đơn hàng của bạn
    .mb-3
        .container
            .bg-white
                if(!listTrans)
                    h1
                        center Bạn chưa có đơn hàng nào
                else
                    table.table.table-hover.table-bordered
                        tr(align='center')
                            th.align-middle ID
                            th.align-middle Sản phẩm
                            th.align-middle(width='100px') Tổng tiền (đã tính phí ship)
                            th.align-middle Địa chỉ giao
                            th.align-middle Ngày tạo
                            th.align-middle Trạng thái
                            th.align-middle Thao tác
                        each trans in listTrans
                            each orders in listOrders
                                if(trans.id === orders.transId)
                                    tr.text-center
                                        td.align-middle.name-trans= trans.id
                                        td.align-middle
                                            ul
                                            each order in orders.orders
                                                li= order.product_name
                                        td.align-middle= trans.amount
                                        td.align-middle= trans.address
                                            td.align-middle= moment(`${trans.createdAt}`).format('DD-MM-YYYY')
                                        td.align-middle
                                            if(trans.status === 0)
                                                button.btn.btn-outline-dark Đang chờ
                                            if(trans.status === 1)
                                                button.btn.btn-outline-primary Đã duyệt
                                            if(trans.status === 2)
                                                button.btn.btn-outline-success Đã nhận
                                        td.align-middle
                                            if(trans.status === 0)
                                                button.btn.btn-danger.btnCancel Hủy
                                            else
                                                button.btn.btn-outline-dark none