extends ../layouts/common
block content
    .container
        .row
            .col-6.col-md-3.mt-5
                div
                    h4.mb-3 Danh mục sản phẩm
                    .mb-5
                        ul.List-Group
                            li
                                a.listCategory(href='/product/clothes') Quần & áo
                            li
                                a(href='/product/backpack') Balo & túi xách
                            li
                                a(href='/product/shoe') Giày dép
                            li
                                a(href='/product/accessories') Trang sức & phụ kiện
                div
                    h4.mb-5 Bộ lọc tìm kiếm
                    div
                        div
                            h5.mb-3 Khoảng Giá
                            select.form-control.mb-5#priceSelect
                                option(value='1') Dưới 500.000₫
                                option(value='2') Từ 500.000₫ - 1.000.000₫
                                option(value='3') Trên 1.000.000₫
                        div
                            h5.mb-3 Dịch Vụ & Khuyến Mãi
                            div
                                input#promotion.mb-5(type='checkbox', name='')
                                label.ml-3(for='promotion') Đang khuyến mãi
                            a.btn.btn-primary#btnFilter(href='') Áp dụng
            .col-12.col-md-9
                .d-flex.justify-content-start.mb-5.mt-5
                    form.form-id(method="GET" action='/product/search' id=`${products[0].category_id}`)
                        .form-group.col-md-12.mt-5.pt-3
                            span.fa.fa-search.icon-left
                            input.new-form-control.form-control.input-opacity(type='text', name='search', placeholder='Tìm kiếm sản phẩm ...', size='60px')
                .container.border
                    .row.justify-content-around.p-2
                        each product in products
                            .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                                figure.Img-Product-Small.Scale-Trans
                                    img.Info-Product-Image-Sc(src=product.image alt='my product')
                                p= product.name
                                a.btn.btn-primary.ml-5.mr-5(href='/product/detail?id=' + product.id) Xem
                                p= product.price + '₫'
                                div
                                    if(hearts)
                                        if(hearts.length < 1)
                                            input.checkforfun(type='checkbox' name='' id=`${product.id}`)
                                            label(for=`${product.id}`)
                                                i.fa.fa-heart
                                        else
                                            -let pU = false
                                                each heart in hearts
                                                    if(heart.id === product.id)
                                                        input.checkforfun(type='checkbox' name='' id=`${product.id}` checked)
                                                        label(for=`${product.id}`)
                                                            i.fa.fa-heart
                                                        -pU = true
                                                if(pU === false)
                                                    input.checkforfun(type='checkbox' name='' id=`${product.id}`)
                                                    label(for=`${product.id}`)
                                                        i.fa.fa-heart
                                    else
                                        input.checkforfun(type='checkbox' name='' id=`${product.id}`)
                                        label(for=`${product.id}`)
                                            i.fa.fa-heart
                    nav(aria-label='Page navigation products')
                        ul.pagination.justify-content-center
                            li.page-item
                            - let i = 0
                                while i <= allProducts.length / 9
                                    li.page-item
                                        a.page-link(href='/product/backpack?page=' + (i + 1))= i + 1
                                    -i++
