extends ../layouts/common
block content
    .container
        .row
            .col-6.col-md-3
                div
                    h4.mb-3 Danh mục sản phẩm
                    .mb-5
                        ul.List-Group
                            li
                                a.listCategory(href='/product/clothes') Quần & áo
                            li
                                a(href='/product/backpack') Balo & túi xách
                            li
                                a(href='/product/shoe') Giày dép
                            li
                                a(href='/product/accessories') Trang sức & phụ kiện
            .col-12.col-md-9
                .container.border
                    if(products.length < 1)
                        h1
                            center Không có kết quả thích hợp
                    else
                        h1
                            center Kết quả tìm kiếm
                        .row.justify-content-around.p-2
                            each product in products
                                .d-flex.flex-column.text-center.border.mb-2.mt-1.Box-Shadow-Around
                                    figure.Img-Product-Small.Scale-Trans
                                        img.Info-Product-Image-Sc(src=product.image alt='my product')
                                    p= product.name
                                    a.btn.btn-primary.ml-5.mr-5(href='/product/detail?id=' + product.id) Xem
                                    p= product.price + '₫'
                                    div
                                        if(hearts)
                                            each heart in hearts
                                                if(heart.id === product.id)
                                                    input.checkforfun(type='checkbox' name='' id=`${product.id}` checked)
                                                    label(for=`${product.id}`)
                                                        i.fa.fa-heart
                                        else
                                            input.checkforfun(type='checkbox' name='' id=`${product.id}`)
                                            label(for=`${product.id}`)
                                                i.fa.fa-heart
                        nav(aria-label='Page navigation products')
                            ul.pagination.justify-content-center
                                li.page-item
                                - let i = 0
                                    while i <= allProducts.length / 9
                                        li.page-item
                                            a.page-link(href='/product/search?search=' + `${search}` + '&page=' + (i + 1))= i + 1
                                        -i++

